  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #ff9900;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-1c1c1b: #1c1c1b;
  --color-777: #777;
  --color-D64D4D: #D64D4D;
  --color-A99999: #A99999;
  --color-DC3545: #DC3545;
  --color-47ad24: #47ad24;
  --color-212529: #212529;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 15px #0000001a;
  padding: 15px;
  border: none;
}

.card-wrapper-hover {
  background-color: white;
  box-shadow: 0 0 20px #0000001a;
  padding: 15px;
}
.card-wrapper-hover:hover {
  background-color: var(--color-ededed);
  box-shadow: 0 0 10px black;
  padding: 15px;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20{
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

/* Header Part Start */
.marquee{
  background: transparent;
}
.react-icons-size{
  font-size: 2rem;
  color: #ff9900 !important;
}
.badge {
  line-height: 0 !important;
}
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-hover-color:hover{
  color: #ff9900 !important;
}
.logo-header-color {
  color: #ff9900 !important;
}
.logo-header-font{
  font-family: 'Rubik Iso', cursive;
  font-size: 2.3rem;
}
.header-upper {
  background-color: var(--color-131921);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

/* Header Part End */

/* Footer Start */
footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/* Footer End */

/* Home Page Start */
.home-bg-color{
  background: #232f3e;
}
.carousel-banner{
    background-color: white;
    box-shadow: 0 0 15px white;
    padding: 0;
}

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  padding: 0;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  padding: 0;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

/* home wrapper 2 start*/
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* home wrapper 2 end */
/* home wrapper 3 start*/
.home-wrapper-3 {
  background-color: #dcdddf;
}
/* home wrapper 3 end */
/* categories section start */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories>div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories>div>div {
  width: 60%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* categories section end */
/* Home Page End */

/* Product Card */
.product-card {
  padding: 15px;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.product-card:hover .action-bar {
  right: 10px;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.product-card p.description {
  font-size: 13px;
  color: var(--color-777);
  margin-right: 20px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

.product-card .product-image {
  height: auto;
}

.product-card .product-image img {
  object-fit: contain;
}

.product-card .product-image>img:last-child {
  display: none;
}

.product-card:hover .product-image>img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image>img:last-child {
  display: block;
}

/* Product Card Ends */

/* Login & register page */
.link-button {
  border: none;
  background: var(--color-DC3545);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: .4s;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 20px;
}

.link-button:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: white;
}

.type-effect {
  color: var(--color-D64D4D);
  font-size: 40px;
  font-weight: 500;
  padding-left: 15px;
}

.filter-form .form-check-input:checked {
  background-color: var(--color-D64D4D);
  border-color: var(--color-D64D4D);
}

.auth-card {
  padding: 15px 30px 30px 30px;
  background-color: rgba(253, 253, 253, 0.2);
  border-radius: 20px;
  width: 500px;
  margin-top: 4rem;
  margin-left: 18rem;
}

.auth-card h2 {
  padding-top: 10px;
  font-size: 45px;
  color: var(--color-ededed);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-A99999);
  color: var(--color-131921);
  font-size: 14px;
  border-radius: 15px;
  border-color: transparent;
}

.auth-card a {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-D64D4D);
}

.auth-card a:hover {
  color: var(--color-DC3545);
}

.login-card {
  background-color: rgba(253, 253, 253, 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.main-login {
  top: 5%;
  left: 5%;
}

.main-login h1 {
  font-size: 5em;
  padding-left: 15px;
  color: var(--color-ededed);
}

.login-text-color {
  color: var(--color-A99999)
}

.login-links {
  color: var(--color-D64D4D);
}

.login-links:hover {
  color: #9e1c1c;
}

.login-wide-button {
  width: 100%;
  border-radius: 1em;
}


/* Login & register page end*/


/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.filter-sort-grid p {
  width: 100px;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 24%;
}

.gr-12 {
  width: 100%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image {
  width: 270px;
}

.g-12 .action-bar {
  top: 17%;
}

.g-12 .product-card .product-image {
  height: auto;
}

.gr-6 {
  width: 49%;
}

.gr-6 .product-image {
  width: 100%;
}

.gr-6 .product-image img {
  margin: auto;
  display: block;
}

/* Our Store End*/

/* Contact page */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper>div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper ul,
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777);
}

/* Contact page ends */

/* TOS */
.policy {
  background-color: white;
  padding: 30px;
}

/* TOS end*/

/* Admin Dashboard */
.main-layout {
  background-color: #1890ff !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  width: 100px !important;
}

.sm-logo {
  display: none;
  color: #c4c5d4;
}
.lg-logo{
  color: #c4c5d4;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.logo {
  height: 64px !important;
  margin: 0;
  background: #37475a;
}

.logo h2 {
  font-size: 2rem !important;
}

main {
  overflow-y: scroll;
}

.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout{
  background: #001529;
}

.ant-layout-header {
  background-color: #37475a !important;
  color: white !important;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}

.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
  color: #e1e1e1;
}

.ant-layout-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.ant-layout-content {
  margin: 24px 16px;
  min-height: 280;
  background: #485769;
  border-radius: 1.4rem;
}

.green {
  color: var(--color-47ad24);
  font-size: 20px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-DC3545);
  font-size: 20px;
  font-family: Roboto !important;
}
.dash-title h4 {
  font-size: 1.5em !important;
}
.dash-title .dash-color {
  border-radius: 2.5em !important;
  box-shadow:inset;
  background: #232f3e !important;
}
.dash-text-color{
  color: #c4c5d4 !important;
}
.unique .dash-color {
  border-radius: 2.5em !important;
  box-shadow:inset;
  background: #c4c5d4 !important;
}
.dash-btn{
  display: block;
  color: #a6adb4 !important;
  font-size: 1.2em;
  margin: 4px;
  /* padding: 0px 24px 0px 24px; */
}
.dash-btn:hover{
  color: white !important;
}
.dash-table thead{
  font-size: 1.5rem;
}
.side-bg {
  background: #485769 !important;
}
.green-button{
  background: transparent;
  border-color: #28a745;
  color: #28a745;
}
.green-button:hover{
  background: #28a745;
  border-color: #28a745;
  color: white !important;
}
.red-button:hover{
  background: #dc3545;
  border-color: #dc3545;
  color: white !important;
}
.dash-text-size{
  font-size: 2em;
}
/* Admin Dashboard End*/